.rolMovies img {
    width: 150px;
    height: 225px;
    transform: scale(0.9);
    transition: all ease 0.2s;
}
.rolMovies img:hover {
    transform: scale(1);
}
.rolMovies {
    padding: 0;
    display: flex;
}
.carrossel-filmes {
    overflow-x: hidden;
    width: 100vw;
    transition: all 1s;
    position: relative; 
}
.buttonList {
    background-color: rgba(0, 0, 0, .50);
    border: none;
    color: white;
    padding: 15px;
    cursor: pointer;
    height: 225px;
    font-size: 40px;   
    opacity: 0.5;
    position: absolute;
    z-index: 1;
}
.buttonright {
    right: 0;
}
.buttonList:hover {
    opacity: 0.98;
}
.container-filmes {
    display: flex;
    position: relative;
    top: -60px;
}


